@font-face {
	font-family: 'Euclid-Circular-A-Bold';
	font-display: swap;
	src: url('../fonts/Euclid-Circular-A-Bold.ttf');
}
@font-face {
	font-family: 'Euclid-Circular-A-Light';
	font-display: swap;
	src: url('../fonts/Euclid-Circular-A-Light.ttf');
}
@font-face {
	font-family: 'Euclid-Circular-A-Medium';
	font-display: swap;
	src: url('../fonts/Euclid-Circular-A-Medium.ttf');
}
@font-face {
	font-family: 'Euclid-Circular-A-Regular';
	font-display: swap;
	src: url('../fonts/Euclid-Circular-A-Regular.ttf');
}
@font-face {
	font-family: 'Euclid-Circular-A-SemiBold';
	font-display: swap;
	src: url('../fonts/Euclid-Circular-A-SemiBold.ttf');
}

@font-face {
	font-family: 'IBMPlexSans-Bold';
	font-display: swap;
	src: url('../fonts/IBMPlexSans-Bold.woff2') format('woff');
}

@font-face {
	font-family: 'IBMPlexSans-Light';
	font-display: swap;
	src: url('../fonts/IBMPlexSans-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'IBMPlexSans-Medium';
	font-display: swap;
	src: url('../fonts/IBMPlexSans-Medium.woff2') format('woff');
}

@font-face {
	font-family: 'IBMPlexSans-Regular';
	font-display: swap;
	src: url('../fonts/IBMPlexSans-Regular.woff2') format('woff');
}

@font-face {
	font-family: 'IBMPlexSans-SemiBold';
	font-display: swap;
	src: url('../fonts/IBMPlexSans-SemiBold.woff2') format('woff');
}

@font-face {
	font-family: 'IBMPlexSans-Thin';
	font-display: swap;
	src: url('../fonts/IBMPlexSans-Thin.woff2') format('woff');
}

//ibm

.IBMPlexSans-Light {
	font-family: 'IBMPlexSans-Light';
}
.IBMPlexSans-Regular {
	font-family: 'IBMPlexSans-Regular';
}
.IBMPlexSans-Medium {
	font-family: 'IBMPlexSans-Medium';
}
.IBMPlexSans-SemiBold {
	font-family: 'IBMPlexSans-SemiBold';
}
.IBMPlexSans-Bold {
	font-family: 'IBMPlexSans-Bold';
}

//euclid
.Euclid-Circular-A-Regular {
	font-family: 'Euclid-Circular-A-Regular';
}

.Euclid-Circular-A-Light {
	font-family: 'Euclid-Circular-A-Light';
}
