.mask {
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: 100%;
	-webkit-mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-size: contain;
}
.mask-left {
	mask-repeat: no-repeat;
	mask-position: left;
	mask-size: contain;
}
.mask-center {
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
}
.mask-right {
	mask-repeat: no-repeat;
	mask-position: right;
	mask-size: contain;
}
.icon-brand {
	// mask-image: url('../multimedia/icons');
}
.icon-instagram {
	mask-image: url('../multimedia/icons/instagram-icon.svg');
}

.icon-facebook {
	mask-image: url('../multimedia/icons/facebook-icon.svg');
}

.icon-book {
	mask-image: url('../multimedia/icons/book.svg');
}

.icon-search {
	mask-image: url('../multimedia/icons/search.svg');
}
.icon-menu {
	mask-image: url('../multimedia/icons/menu.svg');
}
.icon-music {
	mask-image: url('../multimedia/icons/icon-music.svg');
}
.icon-sound {
	mask-image: url('../multimedia/icons/icon-sound.svg');
}
.icon-settings {
	mask-image: url('../multimedia/icons/icon-settings.svg');
}
.icon-logout {
	mask-image: url('../multimedia/icons/icon-logout.svg');
}
