.form_search_dash {
	button {
		width: 3rem;
		height: 100%;
		position: absolute;
		left: 12px;
	}
	.mask {
		height: 100%;
		width: 100%;
		background-color: white;
		display: flex;
		top: 0;
		left: 0.5rem;
	}
	input {
		background-color: #283c623b;
	}
	input[type='search']::-webkit-search-cancel-button {
		position: relative;
		right: 6px;
		cursor: pointer;
	}
}
